<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<div ng-controller="SearchDetailCtrl">
<ion-view title="写真を送信">
  <ion-content has-header="true" padding="true">
     <!--<input type="file" accept="image/*" capture="camera">-->

  <form id="uploadForm"
        enctype="multipart/form-data"
        ng-submit="processForm()">
    <div class="list">
      <div class="item item-input-inset">
	<label class="item-input-wrapper">
	  <input type="file" id="userPhotoInput" name="displayImage" file-model="myFile"/>
	</label>
	<button type="submit" class="button icon-left  ion-ios7-upload button-outline button-positive">
	  アップロード
	</button>
      </div>
    </div>
  </form>
	
  </ion-content>
</ion-view>
</div>