<ion-view title="プロファイル">
  <ion-content class="padding">
    <div class="item item-image">
      <img src=""/>
    </div>
    <div class="item item-icon-left">
      <!--Nationality-->
      <span>Japanese</span>
    </div>
    <div class="item item-icon-left">
      <!--性別-->
      <span>男</span>
    </div>
    
      <!--Personal Images-->
      <div class="list">
  
      <a class="item item-thumbnail-left" href="#/  ">
        <img src="image.jpg">
        <h2>Likes:</h2>
      </a>
      </div>    
  </ion-content>
</ion-view>
