<ion-view title="プロファイル">
  <ion-content class="padding">
    <div class="item item-image">
      <img src=""/>
    </div>
    <div class="item item-icon-left">
      <!--Nationality-->
      <span>Japanese</span>
    </div>
    <div class="item item-icon-left">
      <!--性別-->
      <span>男</span>
    </div>
    
      <!--Personal Images-->
      <ion-list>
	<ion-item ng-repeat="item in items" class="item-thumbnail-left" href="#">
	  <h2>{{item.likes}}</h2>
	</ion-item>
      </ion-lsit>
   
  </ion-content>
</ion-view>
